.image-input {
    text-align: center;
}
input {
    display: none;
}
label {
    display: block;
    color: #FFF;
    background: #000;
    padding: .3rem .6rem;
    font-size: 115%;
    cursor: pointer;
}
label i {
    font-size: 125%;
    margin-right: .3rem;
}
label:hover i {
    animation: shake .35s;
}
img {
    max-width: 175px;
    display: none;
}
span {
    display: none;
    text-align: center;
    cursor: pointer;
}
@keyframes shake {
    0% {
    transform: rotate(0deg);
    }
    25% {
    transform: rotate(10deg);
    }
    50% {
    transform: rotate(0deg);
    }
    75% {
    transform: rotate(-10deg);
    }
    100% {
    transform: rotate(0deg);
    }
}