.card .ftr .author {
  color: #888;
}

.card .author .avatar {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.card .author a {
  color: #333;
  text-decoration: none;
}

.card .author a .ripple-cont {
  display: none;
}

#post {
  border: 1px solid #ccd6dd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  resize: none;
}

.btn-post {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-post:hover {
  background-color: #0c8cc1;
}